// comments

.comments__section
  background-color: rgb(230, 230, 230)
  padding: 1rem

.top_comments
  color: $facebookBlue
  font-weight: 700
  float: right
  text-transform: capitalize
  vertical-align: top

.comments__list
  font-weight: 1rem
