.grid__row {
  font-size: 0; }

.grid__col--1 {
  display: inline-block;
  width: 8.33333%;
  font-size: 1.4rem; }

.grid__col--2 {
  display: inline-block;
  width: 16.66667%;
  font-size: 1.4rem; }

.grid__col--3 {
  display: inline-block;
  width: 25%;
  font-size: 1.4rem; }

.grid__col--4 {
  display: inline-block;
  width: 33.33333%;
  font-size: 1.4rem; }

.grid__col--5 {
  display: inline-block;
  width: 41.66667%;
  font-size: 1.4rem; }

.grid__col--6 {
  display: inline-block;
  width: 50%;
  font-size: 1.4rem; }

.grid__col--7 {
  display: inline-block;
  width: 58.33333%;
  font-size: 1.4rem; }

.grid__col--8 {
  display: inline-block;
  width: 66.66667%;
  font-size: 1.4rem; }

.grid__col--9 {
  display: inline-block;
  width: 75%;
  font-size: 1.4rem; }

.grid__col--10 {
  display: inline-block;
  width: 83.33333%;
  font-size: 1.4rem; }

.grid__col--11 {
  display: inline-block;
  width: 91.66667%;
  font-size: 1.4rem; }

.grid__col--12 {
  display: inline-block;
  width: 100%;
  font-size: 1.4rem; }

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 0;
  background-color: #c8c8c8; }

.wrapper {
  background-color: white;
  font-size: 1rem;
  margin: 0 auto;
  width: 90%; }

button {
  font-size: 1rem; }

.author__image {
  width: 50px;
  margin-bottom: 1rem; }

.article__header {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: top; }

.author__name {
  color: #3b5998;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  text-transform: capitalize; }

.article {
  border-bottom: 1px solid #c8c8c8;
  margin-top: 1rem;
  padding: 1rem; }

.article__date {
  color: #969696;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize; }

.article__text {
  font-size: 1.5rem;
  padding-bottom: 1rem; }

.article__footer {
  font-size: 1.5rem; }

.article__footer--link {
  color: #3b5998;
  text-decoration: none; }

.article__buttons {
  border-bottom: 1px solid #c8c8c8; }

.like__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  outline: none; }

.like__button:active {
  outline: none;
  border: none; }

.like__button:focus {
  outline: none; }

.comment__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  outline: none; }

.comment__button:active {
  outline: none;
  border: none; }

.comment__button:focus {
  outline: none; }

.gray {
  color: #969696; }

.blue {
  color: #3b5998; }

.green {
  color: green; }

.like_counter {
  font-size: 1rem;
  font-weight: 500; }

.comments__section {
  background-color: #e6e6e6;
  padding: 1rem; }

.top_comments {
  color: #3b5998;
  font-weight: 700;
  float: right;
  text-transform: capitalize;
  vertical-align: top; }

.comments__list {
  font-weight: 1rem; }

/*# sourceMappingURL=main.css.map */
